<section id="user-detail" class="scroll-page bg-white">
  <div class="page-header">
    <h1>会員情報</h1>
  </div>
  <table>
    <tr>
      <th>お名前</th>
      <td><%= current_user.name %>様</td>
    </tr>
  </table>
</section>
<% if @exists_check  then %>
  <%= form_with url: messages_path do |f| %>
    <%= f.label :image, '画像' %>
    <%= f.file_field :image ,accept: 'image/jpg,image/png' %>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
    <%= f.label :body, 'メッセージ' %>
    <%= f.text_area :body %>
    <%= f.submit "送信" %>
  <% end %>
<% else %>
  トークン情報を登録してください
<% end %>
<div>
  <%= link_to '設定', new_token_path %>
</div>
<div>
  <%= link_to "ログアウト", destroy_user_session_path %>
</div>

<%= react_component("HelloWorld", { greeting: "Hello" }) %>
